body {
    font-family: 'sans-serif';
    font-size: 14pt;
}

.RetractableAwningTitle {
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    font-family: 'sans-serif';
}

.headerInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.headerInfoItem_1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 65%;
    flex: 1 0 65%;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    border: 1px solid #343a40;
    padding-left: 20px;
}

.headerInfoItem_2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 35%;
    flex: 1 0 35%;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    border: 1px solid #343a40;
    padding-left: 20px;
}

.RetractableAwningTitleWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* LA PRINT */

#LAPrint {
    font-family: 'sans-serif';
    font-size: 14pt;
  }
  
  #LAPrint .RetractableAwningTitle {
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    font-family: 'sans-serif';
    margin-top: 45px;
  }
  
  #LAPrint .headerInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  #LAPrint .headerInfoItem {
    min-height: 48px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 24%;
    flex: 1 0 24%;
    max-width: 24%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #LAPrint .fabricInfoCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #LAPrint .fabricInfoCol .fabricInfoColItem {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }
  
  #LAPrint .headerInfoItem .innerInfoLeft {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }
  
  #LAPrint .innerInfoCenter {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    text-align: center;
    font-weight: 700;
  }
  
  #LAPrint .headerInfoBottom {
    text-align: right;
    border-bottom: 4px solid black;
  }
  
  #LAPrint .mainInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #LAPrint .mainInfoWrapper .infoCol {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%;
    max-width: 45%;
    padding-top: 10px;
  }
  
  #LAPrint .mainInfoWrapper .infoCol .infoColTitle {
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
  }
  
  #LAPrint .fabricStaticCol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 224px;
    margin-bottom: 25px;
    margin-top: 12px;
  }
  
  #LAPrint .fabricStaticCol .fabricStaticInside {
    width: 264px;
    height: auto;
    border: 1px solid rgb(151, 151, 151);
    /* display: flex;
      flex-direction: column; */
  }
  
  #LAPrint .fabricStaticCol .fabricStaticInside .colStyle {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid rgb(151, 151, 151);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #LAPrint .fabricStaticCol .fabricStaticInside .colStyle:last-child {
    border-bottom: none;
  }
  
  #LAPrint .fabricStaticCol .fabricStaticInside .colStyle .colStyleInside {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    text-align: center;
  }
  
  #LAPrint .fabricStaticCol .fabricStaticInside .colStyle .colStyleInside:nth-child(odd) {
    border-right: 1px solid rgb(151, 151, 151);
  }
  
  #LAPrint .mainFooterWrapper {
    margin-top: -87px;
    /* margin-bottom: 25px; */
  }
  
  #LAPrint .mainFooterWrapper .title {
    font-size: 18pt;
    font-weight: 700;
    margin-bottom: 178px;
  }
  
  #LAPrint .mainFooterWrapper .footerInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12pt;
  }
  
  #LAPrint .mainFooterWrapper .footerInfo .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    min-height: 34px;
  }

.mainFooterWrapper {
    /* margin-top: 25px;
    margin-bottom: 25px; */
}

.mainFooterWrapper .title {
    font-size: 18pt;
    font-weight: 700;
}

.mainFooterWrapper .pattern {
    height: auto;
    min-height: 200px;
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.mainFooterWrapper .pattern img {
    width: 57%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mainFooterWrapper .footerInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12pt;
}

.mainFooterWrapper .footerInfo .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    min-height: 34px;
}